[Desktop Entry]
Type=Application
Name=Rhino Player
GenericName=Media Player
Comment=Play video and audio with mpv, GTK 4, and libadwaita
Exec=rhino-player %F
Icon=ch.rhino.RhinoPlayer
Terminal=false
Categories=AudioVideo;Video;Player;
MimeType=video/mp4;video/mpeg;video/x-matroska;video/webm;video/quicktime;video/x-msvideo;video/x-avi;audio/mpeg;audio/x-flac;audio/ogg;application/ogg;audio/x-wav;audio/x-vorbis+ogg;inode/directory;
StartupNotify=true
StartupWMClass=ch.rhino.RhinoPlayer
Keywords=mpv;play;player;video;audio;media;
